* {
    -Vaccent-color: #6694A2;
    -Vaccent-color-dark: #3c5962;
    -Vaccent-color-light: #b2c9d0;

    -Vbutton: -Vaccent-color;
    -Vbutton-dark: -Vaccent-color-dark;
    -Vbutton-light: -Vaccent-color-light;
    -Vbutton-light: #EEEEEE;
    -Vbutton-light-dark: #AAAAAA;

    -Vtext-white: #EEEEEE;
    -Vtext-black: #333333;
    -fx-font-family: "Atkinson Hyperlegible";
}

.text-field{
    -fx-background-color: -Vbutton-light;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: -Vtext-black;
}
.button{
    -fx-padding: 0 4 4 0;
    -fx-background-insets: 0, 0 4 4 0;
    -fx-background-radius: 5;
    -fx-background-color: -Vbutton-dark, -Vbutton;
    -fx-text-fill: -Vtext-white;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}
.button:hover{
    -fx-padding: 4 0 0 4;
    -fx-background-insets: 0, 4 0 0 4;
    -fx-background-color: -Vbutton, -Vbutton-dark ;
}
.button-light{
    -fx-background-color: -Vbutton-light-dark, -Vbutton-light ;
    -fx-text-fill: -Vtext-black;
}
.button-light:hover{
    -fx-background-color: -Vbutton-light, -Vbutton-light-dark;
}
.header{
    -fx-background-color: -Vaccent-color;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: -Vtext-white;
}
