* {
    -Vaccent-color: #6694A2;
    -Vaccent-color-dark: #3c5962;
    -Vaccent-color-light: #c2d4da;

    -Vbutton: -Vaccent-color;
    -Vbutton-dark: -Vaccent-color-dark;
    -VbuttonL: #EEEEEE;
    -VbuttonL-dark: #AAAAAA;

    -VbuttonRed: #a26666;
    -VbuttonRed-dark: #623c3c;

    -VbuttonGreen: #67a374;
    -VbuttonGreen-dark: #3c6244;

    -Vtext-white: #FFFFFF;
    -Vtext-black: #3D3D3D;

    -VListBg: #CCCCCC;
    -VListFg: -Vtext-white;
    -fx-font-family: "Atkinson Hyperlegible", "Times new Roman";
}
@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url('.resources/font/Atkinson-Hyperlegible-Regular-102.ttf');
}
@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url('.resources/font/Atkinson-Hyperlegible-Bold-102.ttf');
    font-weight: bold;
}

.text-field{
    -fx-background-color: -VbuttonL;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: -Vtext-black;
}
.text-field-amount{
    -fx-padding: 4 8 8 4;
    -fx-background-insets: 0, 0 4 4 0;
    -fx-background-radius: 5;
    -fx-background-color: -VbuttonL-dark, -VbuttonL ;
    -fx-font-size: 16px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 5, 0.5, 0, 0);
}
.text-bread{
    -fx-font-size: 14px;
}

.split-pane *.split-pane-divider {
    -fx-padding: 1;
}

.button{
    -fx-padding: 4 8 8 4;
    -fx-background-insets: 0, 0 4 4 0;
    /*`-fx-background-radius: 5;*/
    -fx-background-color: -Vbutton-dark, -Vbutton;
    -fx-text-fill: -Vtext-white;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 5, 0.5, 0, 0);
}
.button:hover{
    -fx-padding: 8 4 4 8;
    -fx-background-insets: 0, 4 0 0 4;
    -fx-background-color: -Vbutton, -Vbutton-dark ;
}
.button:selected{
    -fx-padding: 0;
    -fx-background-color: -Vbutton, -Vbutton-dark ;
    -fx-background-insets: 0, 4 0 0 4;
    -fx-border-color: -Vbutton ;
    -fx-border-style: dashed dashed dashed dashed ;
    -fx-border-width: 2;
    -fx-border-insets: 6 2 2 6;
}
.button:selected:hover{
    -fx-border-style: none ;
}
.button-light{
    -fx-background-color: -VbuttonL-dark, -VbuttonL ;
    -fx-text-fill: -Vtext-black;
}
.button-light:hover{
    -fx-background-color: -VbuttonL, -VbuttonL-dark;
}
.button-red{
    -fx-background-color: -VbuttonRed-dark, -VbuttonRed ;
}
.button-red:hover{
    -fx-background-color: -VbuttonRed, -VbuttonRed-dark;
}
.button-green{
    -fx-background-color: -VbuttonGreen-dark, -VbuttonGreen ;
}
.button-green:hover{
    -fx-background-color: -VbuttonGreen, -VbuttonGreen-dark;
}
.header{
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-color: -Vbutton-dark, -Vbutton;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: -Vtext-white;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 5, 0.5, 0, 0);
}
.header-text{
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: -Vtext-white;
}

.list-blue{
    -fx-background-color: -Vaccent-color-light;
}
.list-white{
    -fx-background-color: -Vtext-white;
}

.text-important-white{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: -Vtext-white;
}
.text-important{
    -fx-font-size: 16px;
}
.text-important-black{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: -Vtext-black;
}
.text-body{
    -fx-font-size: 20px;
    -fx-text-fill: -Vtext-black;
}